<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TempleTours</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <!--Navigation Menu-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <a class="navbar-brand" asp-action="Index">TempleTours</a>
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="ml-3 mr-3 nav-link text-dark" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="ml-3 mr-3 nav-link text-dark" asp-action="TimeSlots" method="get">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="ml-3 mr-3 nav-link text-dark" asp-action="Appointments">View Appointments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() <!--Brings in the body for each page-->
        </main>
    </div>

    <!--Footer with copyright info-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TempleTours (Group 3-9)
        </div>
    </footer>

</body>

</html>
