@{
    ViewData["Title"] = "Home Page";
}

<div col ="3">
    <img src="~/img/LaytonUtahTemple.jpg" />
</div>

<div>
    <h1>Layton Utah Temple Tours</h1>
    <p>
        PLEASE SIGN-UP FOR SUNDAY TOURS ONLY.  WE WILL SOON HAVE A NEW SCHEDULE SINCE WE HAVE BEEN ASKED TO STOP ALL OUTSIDE TOURS.
        Please review the available slots ON SUNDAY ONLY and click on the button to sign up. Use the "quantity" field to let us know
        how many people will be in your group. Thank you!
    </p>
    <br />
    <p>General Tour Instructions:</p>
    <ul>
        <li>Masks are required</li>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer</li>
        <li>Dress casual, except on Sunday</li>
    </ul>
    <p>Special Accommodations (check the appropriate box when signing up for a tour):</p>
    <ul>
        <li>Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday</li>
    </ul>
    <p>Available Tours:</p>
    <ul>
        <li>Tour (Outdoor): We have been asked to discontinue outside tours at this time</li>
        <li>Trailer Tour: All tours will be inside the trailer. Masks are required</li>
    </ul>
    <br />
    <br />
    <p>Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.
    <br />
    <br />
    <p>
        Location: Layton Utah Temple
        1500 E Oak Hills Drive, Layton, UT 84040
    </p>
</div>

<form asp-controller="Home" asp-action="TimeSlots" method="get">
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>