@{
    ViewData["Title"] = "Home Page";
}

<div>
    Temple Picture
</div>
<p>hello universe</p>

<form asp-controller="Home" asp-action="TimeSlots" method="get">
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>